[Unit]
Description=Save boot dmesg content
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-udev-settle.service local-fs.target
Before=shutdown.target

[Service]
ExecStart=-/lib/systemd/mandriva-save-dmesg
Type=oneshot
RemainAfterExit=yes
