[Unit]
Description=Setup links in /boot for running kernel
DefaultDependencies=no
Requires=local-fs.target
Conflicts=shutdown.target
After=local-fs.target
Before=shutdown.target

[Service]
ExecStart=-/lib/systemd/mandriva-boot-links
Type=oneshot
RemainAfterExit=yes
